## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Victoria,22.2855,114.1577,69.85,55,5,6.60
1,1,Tuktoyaktuk,69.4541,-133.0374,-11.20,77,90,17.27
2,2,Ushuaia,-54.8000,-68.3000,40.66,81,75,24.16
3,3,Lourdes,43.1000,-0.0500,34.72,100,90,8.05
4,4,Lebu,-37.6167,-73.6500,53.20,79,7,18.95

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Victoria,22.2855,114.1577,69.85,55,5,6.60
4,4,Lebu,-37.6167,-73.6500,53.20,79,7,18.95
5,5,Airai,-8.9266,125.4092,71.80,65,100,0.47
7,7,Nova Vicosa,-17.8919,-39.3719,75.65,91,57,15.90
8,8,Saint-Philippe,-21.3585,55.7679,72.99,84,42,5.93
9,9,Dabhol,17.6000,73.1667,71.19,58,100,6.93
10,10,Henties Bay,-22.1160,14.2845,58.41,93,0,2.30
11,11,Fortuna Foothills,32.6578,-114.4119,78.89,10,1,8.05
12,12,Busselton,-33.6500,115.3333,66.54,69,99,8.57
14,14,Atuona,-9.8000,-139.0333,78.55,74,6,16.96

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [11]:
clean_df = preferred_cities_df.dropna()

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City  Max Temp      Lat       Lng Hotel Name
0            Victoria     69.85  22.2855  114.1577
4                Lebu     53.20 -37.6167  -73.6500
5               Airai     71.80  -8.9266  125.4092
7         Nova Vicosa     75.65 -17.8919  -39.3719
8      Saint-Philippe     72.99 -21.3585   55.7679
9              Dabhol     71.19  17.6000   73.1667
10        Henties Bay     58.41 -22.1160   14.2845
11  Fortuna Foothills     78.89  32.6578 -114.4119
12          Busselton     66.54 -33.6500  115.3333
14             Atuona     78.55  -9.8000 -139.0333

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]


    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Max Temp,Lat,Lng,Hotel Name
0,Victoria,69.85,22.2855,114.1577,Mini Hotel Central
4,Lebu,53.20,-37.6167,-73.6500,Hostal Las Lilas
5,Airai,71.80,-8.9266,125.4092,Juvinal Martin
7,Nova Vicosa,75.65,-17.8919,-39.3719,Pousada Porto do Sol
8,Saint-Philippe,72.99,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
9,Dabhol,71.19,17.6000,73.1667,Ashwamedh Resort
10,Henties Bay,58.41,-22.1160,14.2845,Fishermans Guest House
11,Fortuna Foothills,78.89,32.6578,-114.4119,Fortuna De Oro RV Park
12,Busselton,66.54,-33.6500,115.3333,Observatory Guest House
14,Atuona,78.55,-9.8000,-139.0333,Villa Enata

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()
clean_hotel_df=hotel_df.dropna()

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))